In [12]:
import pandas as pd
import numpy as np
import pymongo

In [16]:
from pymongo import MongoClient

# MongoDB Atlas connection string (replace with your own connection string)
connection_string = "mongodb+srv://Dhaneshrathenam:Dhanesh55@airbnb.ycauacg.mongodb.net/"

# Create a MongoClient
client = MongoClient(connection_string)

# Access your database and collection
db = client['sample_airbnb']
col = db['listingsAndReviews']

In [24]:
rel_data = []
for i in col.find():
    data = dict(Id = i['_id'],
                Name = i.get('name'),
                Property_type = i['property_type'],
                Room_type = i['room_type'],
                Bed_type = i['bed_type'],
                Bedrooms = i.get('bedrooms'),
                Beds = i.get('beds'),
                Number_of_reviews = i['number_of_reviews'],
                Bathrooms = i.get('bathrooms'),
                Price = i['price'],
                Cleaning_fee = i.get('cleaning_fee'),
                Host_id = i['host']['host_id'],
                Host_name = i['host']['host_name'],
                Host_neighbourhood = i['host']['host_neighbourhood'],
                Country = i['address']['country'],
                Review_scores = i['review_scores'].get('review_scores_rating'),
    )
    rel_data.append(data)

In [34]:
df = pd.DataFrame(rel_data)
df.head(1)

,Id,Name,Property_type,Room_type,Bed_type,Bedrooms,Beds,Number_of_reviews,Bathrooms,Price,Cleaning_fee,Host_id,Host_name,Host_neighbourhood,Country,Review_scores
0,10006546,Ribeira Charming Duplex,House,Entire home/apt,Real Bed,3.0,5.0,51,1.0,80.00,35.00,51399391,Ana&Gonçalo,,Portugal,89.0

In [35]:
# checking Data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  5555 non-null   object
 1   Name                5555 non-null   object
 2   Property_type       5555 non-null   object
 3   Room_type           5555 non-null   object
 4   Bed_type            5555 non-null   object
 5   Bedrooms            5550 non-null   float64
 6   Beds                5542 non-null   float64
 7   Number_of_reviews   5555 non-null   int64
 8   Bathrooms           5545 non-null   object
 9   Price               5555 non-null   object
 10  Cleaning_fee        4024 non-null   object
 11  Host_id             5555 non-null   object
 12  Host_name           5555 non-null   object
 13  Host_neighbourhood  5555 non-null   object
 14  Country             5555 non-null   object
 15  Review_scores       4081 non-null   float64
dtypes: float64(3), int64(1), object(12)
memory usage: 694.5+ KB

In [36]:
# The below features are in Decimal128 type hence changing it to relevant data types
df.Price = df.Price.astype(str).astype(float)
df.Cleaning_fee = df.Cleaning_fee[~df.Cleaning_fee.isna()].astype(str).astype(float)
df.Review_scores = df.Review_scores.astype('Int64')

In [37]:
df.isna().sum()

Id                       0
Name                     0
Property_type            0
Room_type                0
Bed_type                 0
Bedrooms                 5
Beds                    13
Number_of_reviews        0
Bathrooms               10
Price                    0
Cleaning_fee          1531
Host_id                  0
Host_name                0
Host_neighbourhood       0
Country                  0
Review_scores         1474
dtype: int64

In [39]:
# Filling Total bedrooms with mode
df.Bedrooms.fillna(df.Bedrooms.mode()[0],inplace=True)
# Filling Total beds with median because data has outliers
df.Beds.fillna(df.Beds.median(),inplace=True)
# Filling Total Bathrooms with median because data has outliers
df.Bathrooms.fillna(df.Bathrooms.mode()[0],inplace=True)
df.Cleaning_fee.fillna(df.Cleaning_fee.median(),inplace=True)
df.Review_scores.fillna(df.Review_scores.median(),inplace=True)

In [40]:
df.isna().sum()

Id                    0
Name                  0
Property_type         0
Room_type             0
Bed_type              0
Bedrooms              0
Beds                  0
Number_of_reviews     0
Bathrooms             0
Price                 0
Cleaning_fee          0
Host_id               0
Host_name             0
Host_neighbourhood    0
Country               0
Review_scores         0
dtype: int64

In [41]:
df.to_csv("C:/Users/Dhanesh/Downloads/Project_4/simplified_airbnb.csv")